.h1{
  text-align: center;
  text-decoration: underline;
}
/* 
button:hover{
background-color: white;
transition: 0.1s ease-in-out;
} */

.bg-danger{
  border-color: transparent;
  width: 100px;
  margin-bottom: 5px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}


.bg-success{
  border-color: transparent;
  width: 100px;
  margin-bottom: 5px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover{
  background-color: white;
}

.bg-info{
  border-color: transparent;
  width: 100px;
  margin-bottom: 5px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-warning{
  margin-bottom: 5px;
  height: 60px;
  border-color: transparent;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary{
  border-color: transparent;
  width: 100px;
  margin-bottom: 5px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

#v-n-c-showing button{
  height: 100px;
  width: 120px;
}

/* 
.meth{
  background-color: rgb(13, 255, 0);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.arg{
  background-color: rgb(0, 255, 200);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.para{
  background-color: rgb(0, 94, 255);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.ret{
  background-color: rgb(144, 0, 255);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.chain{
  background-color: rgb(255, 0, 128);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.string{
  background-color: rgb(255, 0, 0);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}


.boo{
  background-color: rgb(255, 81, 0);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.and{
  background-color: rgb(255, 234, 0);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.nan{
  background-color: rgb(43, 255, 0);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.Null{
  background-color: rgb(0, 255, 251);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.Alert{
  background-color: rgb(0, 42, 255);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.comm{
  background-color: rgb(106, 0, 255);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}


.jq{
  background-color: rgb(255, 0, 217);
  border-color: transparent;
  width: 200px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
} */
